<div class="sidebar">
    <div class="header">
        <a href="/" class="justify-content-center d-flex">HomeWiki</a>
    </div>
    <hr class="underline">
    <div class="tools">
        <div class="d-flex justify-content-center tools-icons">
            {% if parent %}
            <a href="/{{parent}}/">
                <i class="fas fa-arrow-left"></i>
            </a>
            {% elif parent == None %}
            <a href="/">
                <i class="fas fa-arrow-left"></i>
            </a>
            {% endif %}
            <a href="/new/new_folder">
                <i class="fas fa-folder-plus"></i>
            </a>
            <a href="/new/new_file">
                <i class="far fa-file-alt"></i>
            </a>
        </div>
    </div>
    <hr class="underline">
    <div class="folders">
        <ul>
            {% for i in folders %}
                <li><i class="fas fa-folder"></i> <a href="/{{i}}/">{{i}}</a> </li>
            {% endfor %}
        </ul>
    </div>
    <div class="files">
        <ul>
            {% for i in files %}
                <li><i class="far fa-file"></i> <a href="{{i}}">{{i}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>