{% extends 'main/test.html' %}

{% block title %}
    Edit Document: {{ file.name }}
{% endblock %}

{% block header %}
    {% if file %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            {% if file.parent %}
            <a href="/{{ file.parent }}/{{ file.name }}">
                <i class="fas fa-arrow-left" style="color:black; font-size: 20px;margin-right: 20px;"></i>
            </a>
            {% elif file.parent == None %}
            <a href="/{{ file.name }}">
                <i class="fas fa-arrow-left" style="color:black; font-size: 20px;margin-right: 20px;"></i>
            </a>
            {% endif %}
            <!-- <a href="/{{ file.parent.name }}/" style="color:black; font-size: 20px;margin-right: 20px;"><i class="fas fa-arrow-left"></i></a> -->
            <a class="navbar-brand">Edit: {{ file.name }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="ml-auto toolbox">
                    <button class="btn btn-success" type="submit" form='edit-form'>Save</button>
                    <a href="" class="align-middle"><i class="far fa-trash-alt"></i></a>
                </div>
            </div>
        </nav>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="file-content" style="background-color: #f8f8f8;">
        <!-- {{ file.mark | safe }} -->
        <form method="POST" style="height: 100%;" id="edit-form">
            {% csrf_token %}
            {{ form.content }}
        </form>
    </div>
{% endblock %}