{% extends 'main/test.html' %}

{% block header %}
    {% if file %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand">{{ file.name }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="ml-auto toolbox">
                    <a href=""><i class="fas fa-edit"></i></a>
                    <a href=""><i class="far fa-trash-alt"></i></a>
                </div>
            </div>
        </nav>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="file-content">
        {{text|safe}}
    </div>
{% endblock %}