[Unit]
Description=Wiki gunicorn daemon
After=network.target

[Service]
User=denvilk
Group=www-data
WorkingDirectory=/home/denvilk/code/django-wiki/src
ExecStart=/home/denvilk/code/django-wiki/env/bin/gunicorn --workers 3 --bind unix:/home/denvilk/code/django-wiki/gunicorn/wiki.sock config.wsgi:application --access-logfile /home/denvilk/code/django-wiki/gunicorn/access.log --error-logfile /home/denvilk/code/django-wiki/gunicorn/error.log
Restart=on-failure

[Install]
WantedBy=multi-user.target
