.sidebar{
    background-color: #343A40;
    width: 300px;
    min-height: 100vh;
    color: #f1f1f1;
    position: fixed;
    top:0;
    left: 0;
}

.page{
    min-width: 100%;
    height: 100%;
}

.page > *{
    display: inline-block;
    margin: 0;
}

.content{
    width: calc(100% - 300px);
    min-height: 100vh;
    position: fixed;
    top:0;
    left: 300px;
}

body{
    width: 100%;
}

.folders > ul{
    list-style-type: none;
}

.files > ul{
    list-style-type: none;
}

ul{
    margin: 0;
    padding-left: 20px;
}

.header{
    height: 80px;
}

.underline{
    border-color:white;
    margin: 8px;
}

.header > a{
    font-size: 48px;
}

.tools-icons > *{
    margin: 0 7.5px;
    font-size: 25px;
    color:white;
}

a{
    color: white;
}

a:hover{
    color: #cecece;
    text-decoration: none;
}

.toolbox{
    padding: 3px 0;
}

.toolbox > a{
    color: #343A40;
    font-size: 25px;
}

.file-content{
    padding: 20px;
}