.wrapper{
    margin: 20px 30px;
}

.currency{
    font-size: 150px;
    margin: 0;
    padding: 0;
}

.currency-value{
    font-size: 22px;
    margin: 0;
}

.card-shadow{
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.cf-logo{
    width: 225px;
    height: auto;
}

.disp-inline{
    display: inline-block;
}